<IfModule mod_rewrite.c>
    RewriteEngine on
	ErrorDocument 404 /lsdb/error.php
    RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^([^\.]+)$ $1.php [NC,L]
</IfModule>
<FilesMatch ".(htaccess|htpasswd|ini|phps|fla|psd|log|sh|tpl)$">
Order Allow,Deny
Deny from all
</FilesMatch>